body{
    margin: 0;
    background-color: #f0f0f0; 
}

.header{
    background-color: #b4b4b4;
    width: 100%;
    padding-top: 8px;
    height: 160px;
}

h1{
    text-align: center;
}

h3{
    padding-left: 10px;
    padding-right: 10px;
    border: 5px;
    border-color: gray;
    width: 30%;
    text-align: center;
    float: left;
}

.content{
    font-size: 20px;
    height: 500px;
}

a{
    text-decoration: none;
    color: black; 
}

a:hover{
    color: blue;

}

table{
    font-size: 23px;
}
tr{
    height: 60px;
}

th{
    width: 170px;
}

td{
    text-align: center;
    border-bottom: 1px dashed;
    border-color: gray;
}

#compra{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}